body {
    margin: 20px 20px 20px 20px;
    background: #23232e;
}


.username {
    color: white;
    text-shadow: 3px 3px rgb(33, 4, 46);
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bold;
}

.post {
    border-radius: 15px;
    border-color: black;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-color: #71b7e6;
    border-width: 3px;
    border-style: solid;
}

.spacer-line {
    display: flex;
    justify-content: space-between;
}


.comment-create{
    color: white;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-color: transparent;
}


.comment-create{
    padding-bottom: 5px;
    padding-left: 3px;
}

.bigbox {
    display: flex;
    justify-content: left;
}

