<section class="post">
    <h1 class="username">@{{post.username}}</h1>

    <div class="col p-4 d-md-flex flex-column position-static">
        <img #post_image src="">
        <h3 class="mb-0">{{post.postText}}</h3>

        <p class="spacer-line">
            {{post.date}}
            <a href="https://www.google.com/">link</a>
            Comments: {{comments.length}}
        </p>
    </div>


    <div #commentbox *ngIf="comments.length !== 0">
        <app-comment *ngFor="let c of comments" [comment]="c"></app-comment>
    </div>
</section>
