<body>
<p class="spacer-line" background="darkpurple">
    @{{username}}
    {{comment.date}}
</p>
<p class="spacer-line" background="lightgray">
    {{comment.text}}
</p>

<button class="create comment" *ngIf="!is_creating" (click)="toggleCreate()"></button>


<div *ngIf="is_creating">
    <app-create-comment id="create-comment">
    </app-create-comment>
    <button (click)="toggleCreate()">X</button>
</div>
<br><hr>

<app-comment class="children" *ngFor="let c of comment.comments" [comment]="c"></app-comment>

</body>
<!--

<ul *ngFor="let c of comment.comments">
    <li>THERES A CHILD HERE</li>
</ul>



<ul *ngFor="let list of child_comments | keyvalue; let i=index">
    <li> {{list.key}} <app-comment [child_comments]="list.value"></app-comment>
    </li>
</ul>
-->