.spacer-line {
    display: flex;
    justify-content: space-between;
}

.children {
    color: pink;
    position: relative;
    left:3%;
}
.children::before {
    font-weight: bold;
    color: navy;
    content: "---> ";
}