.spacer-line {
    display: flex;
    justify-content: space-between;
}

.children {
    color: pink;
    position: relative;
}
.children::before {
    font-weight: bold;
    color: navy;
}


.comment-create{
    color: white;
    width: auto;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex; 
    justify-content: center;
    align-items: center;
}

body{
    padding: 10px 10px 10px 10px;
    margin: 30;
    width: 500px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background: linear-gradient(135deg, #9b59b6, #71b7e6);
    border-color: #71b7e6;
    border-width: 3px;
    border-style: solid;
    
}
