
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Social Media</h3>
      </div>
      <ul class="list-unstyled components">
          <p>Welcome!</p>
          <li>
              <a href="/home">Home</a>   
          </li>
          <li>
              <a href="/login">Log In</a>
          </li>
          <li>
              <a href="/create">Register</a>
          </li> 
          <li>
            <button class="btn btn-outline-success" type="submit" (click)="logOut()">Log Out</button>
          </li>
      </ul>  
  </nav>
  <!-- Page Content  -->
  <div id="content">
  
  </div>
</div>


