
body {
    position: absolute;
    top: 20%;
    left: 10%;
    margin-top: -50px;
    margin-left: -50px;
    width: 88%;
    height: 80%;
    overflow-y: scroll;
    border-radius: 20px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.7);

}

body::-webkit-scrollbar{
    display: none;
}